<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ram将棋は誰もが無料で使える、初心者から上段者までが楽しめるオンライン将棋アプリの決定版！</title>
    <style>

        html {
            height: 100%;
            width: 100%;
        }
        body {
            height: 100%;
            width: 100%;
            background-color: black;
        }
        @media screen and(max-width: 480px) {
            .main {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                height: 100%;
                width: 90%;
                text-align: center;
                background-color: wheat;
            }
        }
        @media screen and(min-width: 1280px) {
            .main {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                height: 100%;
                width: 45%;
                text-align: center;
                background-color: wheat;
            }
        }
        .logo {
            font-size: 40px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="logo">
            <h1>Ram将棋</h1>
        </div>
    </div>
</body>
</html>